@if (!handlingTotp) {
  <div>
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Login</label>
        <input id="username" type="text" formControlName="username" autocomplete="on">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" autocomplete="current-password">
      </div>
      <button class="button" type="submit" [disabled]="credentialsBeingProcessed">Login</button>
    </form>
    @if (credentialsBeingProcessed) {
      <div><mat-spinner></mat-spinner></div>
    }
  </div>
}
@if (handlingTotp) {
  <app-totp-login (totpSuccessful)="totpSuccessful()" (logoutEvent)="logout()"></app-totp-login>
}
