<app-login *ngIf="!loggedIn; else isLoggedIn" (loginSuccessful)="loginInitializedEventReceived()"></app-login>

<ng-template #isLoggedIn>
<ul class="menu">
	<li (click)="setPage('members')" [ngClass]="{'active': this.page === 'members'}">Membres</li>
	<li (click)="setPage('account')" [ngClass]="{'active': this.page === 'account'}">Compte</li>
	<li (click)="logout()">Logout</li>
</ul>

<div *ngIf="this.page === 'members'">
<div *ngIf="!membersLoaded; else membersTable">Chargement des membres en cours</div>

<ng-template #membersTable>
	<app-members-list [members]="members" ></app-members-list>
</ng-template>
</div>

<app-password-changer *ngIf="this.page === 'account'" (passwordChangedSuccessfully)="passwordChangedSuccessfullyEventReceived()"></app-password-changer>

</ng-template>
