.menu {
	list-style-type: none;
	margin: 0;
	padding: 8px;
	background-color: #dddddd;
}

.menu li {
	display: inline;
	cursor: pointer;
	padding: 8px;
}

a:link {
	text-decoration: none;
	color:inherit;
}
a:visited {
	text-decoration: none;
	color:inherit;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.active {
	background-color: #04AA6D;
}

