<h1>Authentification à deux facteurs (TOTP)</h1>
@if (totpAlreadyActivated !== null) {
  <div>
    @if (totpAlreadyActivated) {
      <div>L'authentification à plusieurs facteurs (TOTP) est activée 😌</div>
    }
    @if (!totpAlreadyActivated) {
      <div>
        @if (qrCodeUrl === null) {
          <div>
            Activer l'authentification à plusieurs facteurs (TOTP) afin d'améliorer la sécurisation de votre compte:
            <button class="button" (click)="initiateTotpActivation()">Go !</button>
          </div>
        }
        @if (qrCodeUrl !== null) {
          <div>
            <div>Scannez ce qr code avec votre application d'authentification à deux facteurs (par exemple <a href="https://f-droid.org/packages/org.fedorahosted.freeotp/">FreeOTP</a>):</div>
            <img [src]="qrCodeUrl" alt="Qr code à scanner" />
            <div>Puis générez un code et saisissez le:</div>
            <form [formGroup]="totpActivationForm" (ngSubmit)="submitTotpActivationForm()">
              <input id="totpCode" type="text" formControlName="totpCode" autocomplete="off">
              <button class="button" type="submit" [disabled]="loading">Valider</button>
            </form>
          </div>
        }
      </div>
    }
  </div>
}
@if (errorCheckingIfTotpIsEnabled) {
  <div>
    Une erreur a été rencontrée (plus d'info dans les logs du navigateur).
  </div>
}

@if (loading) {
  <mat-spinner></mat-spinner>
}
